body {
    font-size: 19px;
    color: rgb(23, 232, 138);
    background-color: rgb(27, 46, 83);
    background-color: rgb(53, 43, 61);
    width: 355px;
    font-family: "Sixtyfour", sans-serif;
    text-shadow: 5px 5px 0 rgb(8, 14, 24);
}

.pointer {
    cursor: pointer;
}

.rr-border {
    border: 3px solid rgb(240, 109, 255);
    height: 100%;
    width: 100%;
}

#switch-status {
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
    color: white;
}

.rr-title {
    padding: 10px 0;
    height: auto;
    margin: auto 0;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
}

/* SWITCH */
.switcher {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.switch-container {
    margin: auto;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(60, 26, 64);
    -webkit-transition: .2s;
    transition: .2s;
    box-shadow: 5px 5px 0 rgb(8, 14, 24);
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
    box-shadow: 2px 2px 0 rgb(0, 0, 0);
}

input:checked+.slider{
    background-color: rgb(240, 109, 255);
}

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.switch-divider {
    border-bottom: 1px solid rgb(240, 109, 255);
}

/* SETTINGS */
.settings {
    font-size: 11px;
    padding-top: 18px;
    padding-bottom: 12px;
    letter-spacing: -1.5px;
}

.settings input {
    background-color: inherit;
    text-align: end;
    float: left;
    letter-spacing: -1px;
    font-size: 10.5px;
    width: 100%;
    border: rgb(60, 26, 64);
    outline: rgb(60, 26, 64);
    background: rgb(60, 26, 64);
    box-shadow: 2px 2px 0 rgb(0, 0, 0);
    -webkit-transition: .1s;
    transition: .1s;
    font-weight: bold;
}

#overlay-opacity {
    width: 90%;

}

.arrows {
    -moz-appearance: textfield;
    appearance: textfield;
    /* For Firefox */
}

.arrows::-webkit-inner-spin-button,
.arrows::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.col-setting {
    margin-bottom: 8px;
    font-weight: 600;
}

.col-setting-val {
    color: white;
    width: auto;
    text-align: right;
    padding: 0;
    margin-right: 12px;
}

.set{
    color: rgb(240, 109, 255);
}

#ruler-position {
    width: 116px;
}

.col-setting.col-1{
    padding-right: 0;
}

/* FOOTER */
.footer {
    border-top: 1px solid rgb(240, 109, 255);
    padding-bottom: 5px;
}

.buy-coffee {
    font-size: 12px;
    color: rgb(255, 255, 255) !important;
    text-decoration: none;
    width: 100%;
}

.buy-coffee svg:hover {
    color: #18e88a;
}

.wdl-container {
    text-align: right;
}

/* LOGO  */
#webdevliam-logo {
    font-size: 8px;
    text-decoration: none;
}

.web {
    color: rgb(248, 247, 2);
}

.dev {
    color: rgb(35, 222, 241);
}

.liam {
    color: rgb(87, 247, 2);
}

#webdevliam-logo:hover {
    text-decoration: underline;
    color: rgb(240, 109, 255);
}

#webdevliam-logo {
    font-size: 15px !important;
}